<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Main</title>

	<link th:rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css} "/>
	<link th:rel="stylesheet" th:href="@{/node_modules/dropzone/dist/dropzone.css}"/>
	<link th:rel="stylesheet" th:href="@{/node_modules/toastr/build/toastr.min.css}"/>

	<script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
	<script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/node_modules/toastr/build/toastr.min.js}"></script>
	<script th:src="@{/node_modules/dropzone/dist/dropzone-min.js}"></script>
</head>
<body class="bg-light">

	<div th:replace="fragments/header::header"></div>

	<div layout:fragment="content" class="container"></div>

	<div th:replace="fragments/footer::footer"></div>

</body>
</html>