<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_template}">
<head>
	<meta charset="UTF-8">
	<title>List</title>
</head>
<body>

	<div layout:fragment="content" align="center">

		<h2>Board List</h2>

		<a href="#" th:href="@{/board/insert}" class="btn btn-primary">등록</a>

		<table class="table">
			<tr>
				<th>#</th>
				<th>제목</th>
				<th>날짜</th>
			</tr>
			<tr>
				<th>1</th>
				<th>안녕하세요</th>
				<th>2022.01.17</th>
			</tr>
		</table>

	</div>

</body>
</html>